# Bienvenido a la Semana 6

El primer programa es crear una función cuadrática:
$$
y = x^2
$$

In [ ]:
def f(x):
  return x**2

In [ ]:
f(3)

9

In [ ]:
f(25)

625

In [ ]:
f(4)

16

# Pandas

In [ ]:
url = 'https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv'
print(url)

https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv

In [ ]:
import pandas as pd

In [ ]:
# Lectura del dataset
datos = pd.read_csv( url )
print(datos)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
datos['size']

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [ ]:
datos['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

# Mostrar las columnas: total_bill, tip, smoker, time

In [ ]:
columnas = ['total_bill', 'tip', 'smoker', 'time']
datos[columnas]

     total_bill   tip smoker    time
0         16.99  1.01     No  Dinner
1         10.34  1.66     No  Dinner
2         21.01  3.50     No  Dinner
3         23.68  3.31     No  Dinner
4         24.59  3.61     No  Dinner
..          ...   ...    ...     ...
239       29.03  5.92     No  Dinner
240       27.18  2.00    Yes  Dinner
241       22.67  2.00    Yes  Dinner
242       17.82  1.75     No  Dinner
243       18.78  3.00     No  Dinner

[244 rows x 4 columns]

In [ ]:
datos[['total_bill', 'tip', 'smoker', 'time']]

     total_bill   tip smoker    time
0         16.99  1.01     No  Dinner
1         10.34  1.66     No  Dinner
2         21.01  3.50     No  Dinner
3         23.68  3.31     No  Dinner
4         24.59  3.61     No  Dinner
..          ...   ...    ...     ...
239       29.03  5.92     No  Dinner
240       27.18  2.00    Yes  Dinner
241       22.67  2.00    Yes  Dinner
242       17.82  1.75     No  Dinner
243       18.78  3.00     No  Dinner

[244 rows x 4 columns]

In [ ]:
datos2 = datos[['total_bill', 'tip', 'smoker', 'time']]
print(datos2)

     total_bill   tip smoker    time
0         16.99  1.01     No  Dinner
1         10.34  1.66     No  Dinner
2         21.01  3.50     No  Dinner
3         23.68  3.31     No  Dinner
4         24.59  3.61     No  Dinner
..          ...   ...    ...     ...
239       29.03  5.92     No  Dinner
240       27.18  2.00    Yes  Dinner
241       22.67  2.00    Yes  Dinner
242       17.82  1.75     No  Dinner
243       18.78  3.00     No  Dinner

[244 rows x 4 columns]

# Mostrar las 7 columnas y solo los 5 primeros registros

In [ ]:
datos.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Mostrar las 7 columnas y los últimos 5 registros

In [ ]:
datos.tail(5)

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
n_registros = int(input("Ingrese el número de registros a mostrar: "))
datos3 = datos.head(n_registros)
print(datos3)

Ingrese el número de registros a mostrar: 2
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

# Mostrar las colunas: tip, sex y size con solo los 10 primeros registros

In [ ]:
datos4 = datos[['tip', 'sex', 'size']]
print(datos4.head(10))

    tip     sex  size
0  1.01  Female     2
1  1.66    Male     3
2  3.50    Male     3
3  3.31    Male     2
4  3.61  Female     4
5  4.71    Male     4
6  2.00    Male     2
7  3.12    Male     4
8  1.96    Male     2
9  3.23    Male     2

In [ ]:
datos[["tip","sex","size"]].head(10)

    tip     sex  size
0  1.01  Female     2
1  1.66    Male     3
2  3.50    Male     3
3  3.31    Male     2
4  3.61  Female     4
5  4.71    Male     4
6  2.00    Male     2
7  3.12    Male     4
8  1.96    Male     2
9  3.23    Male     2

# Valores booleanos

In [ ]:
print(datos)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
datos['size'] == 3

0      False
1       True
2       True
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: size, Length: 244, dtype: bool

In [ ]:
booleanos = (datos['size']==3)

In [ ]:
print(booleanos)

0      False
1       True
2       True
3      False
4      False
       ...
239     True
240    False
241    False
242    False
243    False
Name: size, Length: 244, dtype: bool

Valores booleanos: bits


True: 1

False: 0

# Mostrar todos los registros donde time='Dinner'

In [ ]:
booleanos = (datos['time']=='Dinner')
datos[booleanos]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

# Mostrar todos los registros donde sex='Female'

In [ ]:
female = datos['sex'] == 'Female'
datos[female]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

# Mostrar los primeros 8 registros donde sex='Female'

In [ ]:
datos[datos['sex'] == 'Female'].head(8)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
21       20.29  2.75  Female     No  Sat  Dinner     2
22       15.77  2.23  Female     No  Sat  Dinner     2

# Mostrar todos los registros donde sex='Female' y 'day'='Sun'

In [ ]:
booleanos = (datos['sex']=='Female') & (datos['day']=='Sun')
print(datos[booleanos])

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
11        35.26  5.00  Female     No  Sun  Dinner     4
14        14.83  3.02  Female     No  Sun  Dinner     2
16        10.33  1.67  Female     No  Sun  Dinner     3
18        16.97  3.50  Female     No  Sun  Dinner     3
51        10.29  2.60  Female     No  Sun  Dinner     2
52        34.81  5.20  Female     No  Sun  Dinner     4
114       25.71  4.00  Female     No  Sun  Dinner     3
115       17.31  3.50  Female     No  Sun  Dinner     2
155       29.85  5.14  Female     No  Sun  Dinner     5
157       25.00  3.75  Female     No  Sun  Dinner     4
158       13.39  2.61  Female     No  Sun  Dinner     2
162       16.21  2.00  Female     No  Sun  Dinner     3
164       17.51  3.00  Female    Yes  Sun  Dinner     2
178        9.60  4.00  Female    Yes  Sun  Dinner     2
186       20.90  3.50  Female    Yes  Sun  Dinner     3
188       18.15  3.50  Female    Yes  Sun  Dinner     3

In [ ]:
bool1 = datos['sex'] == 'Female'
bool2 = datos['day'] == 'Sun'
datos[bool1 & bool2]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
11        35.26  5.00  Female     No  Sun  Dinner     4
14        14.83  3.02  Female     No  Sun  Dinner     2
16        10.33  1.67  Female     No  Sun  Dinner     3
18        16.97  3.50  Female     No  Sun  Dinner     3
51        10.29  2.60  Female     No  Sun  Dinner     2
52        34.81  5.20  Female     No  Sun  Dinner     4
114       25.71  4.00  Female     No  Sun  Dinner     3
115       17.31  3.50  Female     No  Sun  Dinner     2
155       29.85  5.14  Female     No  Sun  Dinner     5
157       25.00  3.75  Female     No  Sun  Dinner     4
158       13.39  2.61  Female     No  Sun  Dinner     2
162       16.21  2.00  Female     No  Sun  Dinner     3
164       17.51  3.00  Female    Yes  Sun  Dinner     2
178        9.60  4.00  Female    Yes  Sun  Dinner     2
186       20.90  3.50  Female    Yes  Sun  Dinner     3
188       18.15  3.50  Female    Yes  Sun  Dinner     3

# Mostrar los primeros 8 registros donde sex='Male', day= Fri o Thur, smoker='Yes'

In [ ]:
bool1 = (datos['sex'] == 'Male') & ((datos['day'] == 'Fri') | (datos['day'] == 'Thur')) & (datos['smoker'] == 'Yes') 
datos[bool1].head(8)

     total_bill   tip   sex smoker   day    time  size
80        19.44  3.00  Male    Yes  Thur   Lunch     2
83        32.68  5.00  Male    Yes  Thur   Lunch     2
90        28.97  3.00  Male    Yes   Fri  Dinner     2
95        40.17  4.73  Male    Yes   Fri  Dinner     4
96        27.28  4.00  Male    Yes   Fri  Dinner     2
97        12.03  1.50  Male    Yes   Fri  Dinner     2
98        21.01  3.00  Male    Yes   Fri  Dinner     2
138       16.00  2.00  Male    Yes  Thur   Lunch     2

# Conteos

In [ ]:
booleanos = datos['smoker']=='Yes'
booleanos

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240     True
241     True
242    False
243    False
Name: smoker, Length: 244, dtype: bool

In [ ]:
booleanos.value_counts()

False    151
True      93
Name: smoker, dtype: int64

In [ ]:
lista = booleanos.value_counts()
print(lista)

False    151
True      93
Name: smoker, dtype: int64

In [ ]:
lista[0]

151

In [ ]:
lista[1]

93

In [ ]:
print("En la data, hay {} personas fumadoras".format(lista[1]))

En la data, hay 93 personas fumadoras

In [ ]:
print("En la data, hay {} personas fumadoras".format(booleanos.value_counts()[1]))

En la data, hay 93 personas fumadoras

In [ ]:
print("En la data, hay {} personas fumadoras".format((datos['smoker']=='Yes').value_counts()[1]))

En la data, hay 93 personas fumadoras

# Mostrar la cantidad de registros donde las personas son fumadoras y han ido el día domingo

In [ ]:
condicion = (datos['smoker'] == 'Yes') & (datos['day'] == 'Sun')
condicion.value_counts()[1]

19

# Mostrar los primeros 10 registros donde sea cena (dinner) y la propina (tip) sea mayor que 5.00

In [ ]:
booleanos = (datos["time"] == "Dinner") & (datos["tip"] > 5)
print(datos[booleanos].head(10))

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2

In [ ]:
condicion = (datos['time'] == 'Dinner') & (datos['tip'] > 5)
datos[condicion].head(10)

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2

In [ ]:
C1 = datos['time'] == 'Dinner'
C2 = datos['tip'] > 5
print(datos[C1 & C2].head(10))

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2

# Mostrar la cantidad de registros donde size sea mayor que 5 y la factura total sea mayor que 45

In [ ]:
condicion = (datos['size'] > 5) & (datos['total_bill'] > 45)
condicion.value_counts()[1]

1

In [ ]:
booleanos = (datos["size"] > 5) & (datos["total_bill"] > 45)
print(booleanos.value_counts()[1])

1

In [ ]:
((datos["total_bill"] > 45) & (datos["size"] > 5)).value_counts()[1]

1

In [ ]:
condición = (datos['size']>5) & (datos['total_bill'] >45)
condición.value_counts()[1]

1

In [ ]:
C1 = datos['size'] > 5
C2 = datos['total_bill'] > 45
print((C1 & C2).value_counts()[1])

1

# Agrupar los datos por 'sex'

In [ ]:
datos.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

In [ ]:
print("Female: {} registros".format(datos.groupby('sex').size()[0]))
print("Male: {} registros".format(datos.groupby('sex').size()[1]))

Female: 87 registros
Male: 157 registros

# Agrupar por día

In [ ]:
datos.groupby('day').size()

day
Fri     19
Sat     87
Sun     76
Thur    62
dtype: int64

In [ ]:
datos.groupby('day').count()

      total_bill  tip  sex  smoker  time  size
day
Fri           19   19   19      19    19    19
Sat           87   87   87      87    87    87
Sun           76   76   76      76    76    76
Thur          62   62   62      62    62    62